# A Introduction to Python for dummies...

In [1]:
# The following is to know when this notebook has been run last time and with which python version.
import time, sys
print(time.ctime())
print(sys.version.split('|')[0])

Fri Aug  1 11:35:41 2025
3.12.9

### Using Python as a calculator

Using of "print" command is not necesary to obtain a result. Just type some operations and the result is obtain with ENTER.

In [2]:
2 + 224365783456

224365783458

In [3]:
(2+3)*(3+4)/(5*5)

1.4

In [4]:
(2+3) * (3+4.) / (5*5)

1.4

Python likes the use of spaces to make scripts more readable

The art of writing good python code is described in the following document: http://legacy.python.org/dev/peps/pep-0008/

### Assignments

Like any other langage, you can assign a value to a variable. This is done with = symbol:

In [6]:
a = 4

A lot of operations can be performed on the variables. The most basics are for example:

In [7]:
a

4

In [8]:
a = a + 1
a

5

In [9]:
a *= 4 # similar to a = a * 4
a

20

In [10]:
a, b = 1, 3
a, b

(1, 3)

Some variable name are not available, they are reserved to python itself:

and, as, assert, break, class, continue, def, del, elif, else, except, 
exec, finally, for, from, global, if, import, in, is, lambda, not, or,
pass, print, raise, return, try, while, with, yield

### Comments

In [11]:
a = 2 # this is a comment

In [12]:
""" This is a large comment
on multiple lines
ending as it started
"""

' This is a large comment\non multiple lines\nending as it started\n'

### Types

The types used in Python are: integers, long integers, floats (double prec.), complexes, strings, booleans.

Double precision: machine dependent, generally between 10^-308 and 10^308, with 16 significant digits.

The function type gives the type of its argument:

In [13]:
type(2)

int

In [14]:
type(2.3)

float

In [15]:
int(0.8) # truncating

0

In [16]:
round(0.8765566777) # nearest, result is integer (was float with python 2.N)

1

### Booleans

Comparison operators are <, >, <=, >=, ==, !=

In [17]:
5 < 3

False

In [18]:
a = 5
b = 7

In [19]:
b < a

False

In [20]:
c = 2

In [21]:
c < a < b

True

In [22]:
a < b and b < c

False

In [23]:
res = a < 7
print(res)
print(type(res))

True
<class 'bool'>

In [24]:
print(int(res))
print(int(not res))

1
0

In [25]:
not res is True

False

### Formating strings

In [26]:
print("Hello world!")

Hello world!

In [27]:
print('Hello world!')

Hello world!

In [28]:
print("Hello I'm here") # ' inside ""

Hello I'm here

In [29]:
b = 'tralala'
# The new way is using the format() method of the string object, and {} to define which value to print and using which format.
print('a = {} & b = {} & c = {} \\\\'.format(a,b,c))
print('a = {0}, b = {1}, c = {2}'.format(a**2,b,c))
print('a = {:f}, b = {:20s}, c = {:15.3e}'.format(a,b,c))

a = 5 & b = tralala & c = 2 \\
a = 25, b = tralala, c = 2
a = 5.000000, b = tralala             , c =       2.000e+00

Much more on this here: https://docs.python.org/3/tutorial/inputoutput.html

### Strings

In [30]:
a = "this is a    string"

In [31]:
len(a)

19

A lot of commands can operate on strings.
Strings, like ANYTHING in python, are objects.
Methods are run on objects by dots:

In [32]:
a.upper()

'THIS IS A    STRING'

In [33]:
a.title()

'This Is A    String'

In [34]:
a.split()

['this', 'is', 'a', 'string']

In [35]:
a.split()[1]

'is'

In [36]:
a = "This is a string.   With various sentences."

In [37]:
a.split('.')

['This is a string', '   With various sentences', '']

In [38]:
a.split('.')[1]

'   With various sentences'

In [39]:
a.split('.')[1].strip() # Here we define the character used to split. The default is space (any comninaison of spaces)

'With various sentences'

### Containers: Tuples, Lists and Dictionaries

#### list: a collection of objects. May be of different types. It has an order.

In [40]:
L = ['red','green','blue'] # squared brackets are used to define lists

In [41]:
type(L) # Print the type of L

list

In [42]:
L[1]

'green'

In [43]:
L[0] # indexes start at 0 !!!

'red'

In [44]:
L[-1] # last element

'blue'

In [45]:
L[-3]

'red'

In [46]:
L = L + ['black', 'white'] # addition symbol is used to agregate values to a list. See below other way.

In [47]:
print(L)

['red', 'green', 'blue', 'black', 'white']

In [48]:
L[1:3] # L[start:stop] : elements if index i, where start <= i < stop !! stop not included !!

['green', 'blue']

In [49]:
L[2:] # boudaries can be omited

['blue', 'black', 'white']

In [50]:
L[-2:]

['black', 'white']

In [51]:
L[::2] # L[start:stop:step] every 2 elements

['red', 'blue', 'white']

In [52]:
L[::-1]

['white', 'black', 'blue', 'green', 'red']

Lists are mutable: their content can be modified.

In [53]:
L[2] = 'yellow'
L

['red', 'green', 'yellow', 'black', 'white']

In [54]:
L.append('pink') # append a value at the end
L

['red', 'green', 'yellow', 'black', 'white', 'pink']

In [55]:
L.insert(2, 'blue')    #L.insert(index, object) -- insert object before index
L

['red', 'green', 'blue', 'yellow', 'black', 'white', 'pink']

In [56]:
L = L[::-1] # reverse order
L

['pink', 'white', 'black', 'yellow', 'blue', 'green', 'red']

In [57]:
L2 = L[2:20]
L2.sort() # One can use TAB to look for the methods (functions that apply to an object)
print(L2)

['black', 'blue', 'green', 'red', 'yellow']

In [58]:
a = [1,2,3]
b = [10,20,30]

In [59]:
print(a+b) # may not be what you expected, but rather logical too

[1, 2, 3, 10, 20, 30]

In [60]:
print(a*b) # Does NOT multiply element by element. Numpy will do this job.

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
L = range(4) # Create an interator. Notice the parameter is the number of elements, not the last one. The end point is omited.
print(L) # In python 2, that was a lit
print(list(L))

range(0, 4)
[0, 1, 2, 3]

The types of the elements of a list are not always the same:

In [61]:
L = [1, '1', 1.4]
L

[1, '1', 1.4]

Slicing: extracting sub-list of a list

In [62]:
a = [[1, 2, 3], [10, 20, 30], [100, 200, 300]] # Not a 2D table, but rather a table of tables.
print(a)
print(a[0])
print(a[1][1])

[[1, 2, 3], [10, 20, 30], [100, 200, 300]]
[1, 2, 3]
20

In [63]:
b = a[1]
print(b)

[10, 20, 30]

In [64]:
b[1] = 999 # Changing the value of a single element
print(b)

[10, 999, 30]

In [65]:
print(a) # Changing b changed a !!!

[[1, 2, 3], [10, 999, 30], [100, 200, 300]]

In [66]:
b[1] is a[1][1]

True

In [67]:
c = a[1].copy()
print(c)
c[1] = 5555555
print(c)
print(a[1])

[10, 999, 30]
[10, 5555555, 30]
[10, 999, 30]

#### tuples: like lists, but inmutables

In [68]:
T = (1,2,3)
T

(1, 2, 3)

In [69]:
T2 = 1, 2, 3
print(T2)
type(T2)

(1, 2, 3)

tuple

In [70]:
T[1]

2

tuples are unmutables

In [71]:
T[1] = 3 # Does NOT work!

TypeError: 'tuple' object does not support item assignment

#### Dictionnaries

A dictionary is basically an efficient table that maps keys to values. It is an unordered container

In [72]:
D = {'Christophe': 12, 'Antonio': 15} # defined by {key : value}

In [73]:
D['Christophe'] # access to a value by the key

12

In [74]:
D.keys() # list of the dictionary keys

dict_keys(['Christophe', 'Antonio'])

In [75]:
D['Yilen'] = 16 # adding a new entry

In [76]:
print(D)

{'Christophe': 12, 'Antonio': 15, 'Yilen': 16}

In [77]:
print(D[0]) # use the keys to acces the elements. No order in dictionnary.

KeyError: 0

### Blocks

Blocks are defined by indentation. Looks nice and no needs for end :-)

In [78]:
for i in [1,2,3]: print(i) # compact way, not recomended.

1
2
3

In [79]:
for thing in [1,'ff',2]:
    print(thing)
    print('end')
print('final end') # end of the identation means end of the block

1
end
ff
end
2
end
final end

In [80]:
# defining a dictionary:
ATOMIC_MASS = {}
ATOMIC_MASS['H'] = 1
ATOMIC_MASS['He'] = 4
ATOMIC_MASS['C'] = 12
ATOMIC_MASS['N'] = 14
ATOMIC_MASS['O'] = 16
ATOMIC_MASS['Ne'] = 20
ATOMIC_MASS['Ar'] = 40
ATOMIC_MASS['S'] = 32
ATOMIC_MASS['Si'] = 28
ATOMIC_MASS['Fe'] = 55.8
# Print the keys and values from the dictionary. As it is not ordered , they come as they want.
for key in ATOMIC_MASS.keys():
    print(key, ATOMIC_MASS[key])

H 1
He 4
C 12
N 14
O 16
Ne 20
Ar 40
S 32
Si 28
Fe 55.8

In [81]:
for key in sorted(ATOMIC_MASS): # sorting using the keys
    print('Element: {0:3s}  Atomic Mass: {1}'.format(key, ATOMIC_MASS[key]))

Element: Ar   Atomic Mass: 40
Element: C    Atomic Mass: 12
Element: Fe   Atomic Mass: 55.8
Element: H    Atomic Mass: 1
Element: He   Atomic Mass: 4
Element: N    Atomic Mass: 14
Element: Ne   Atomic Mass: 20
Element: O    Atomic Mass: 16
Element: S    Atomic Mass: 32
Element: Si   Atomic Mass: 28

a key parameter can be used to specify a function to be called on each list element prior to making comparisons.
More in sorted function here: https://wiki.python.org/moin/HowTo/Sorting
or here: http://www.pythoncentral.io/how-to-sort-a-list-tuple-or-object-with-sorted-in-python/

In [82]:
for i in range(10):
    if i > 5:
        print(i)

6
7
8
9

In [83]:
for i in range(10):
    if i > 5:
        print(i)
    else:
        print('i lower than five')
print('END')

i lower than five
i lower than five
i lower than five
i lower than five
i lower than five
i lower than five
6
7
8
9
END

Other commands are: if...elif...else AND while...

### List and dictionnary comprehension

In [84]:
A = [] # defining an empty list
for i in range(4):
    A.append(i**2) # filling the list with values
print(A)

[0, 1, 4, 9]

In [85]:
# more compact way to do the same thing
B = [i**2 for i in range(4)] 
print(B)

[0, 1, 4, 9]

In [86]:
# The same is also used for dictionnaries
D = {'squared_{}'.format(k) : k**2 for k in range(10)}
print(D)

{'squared_0': 0, 'squared_1': 1, 'squared_2': 4, 'squared_3': 9, 'squared_4': 16, 'squared_5': 25, 'squared_6': 36, 'squared_7': 49, 'squared_8': 64, 'squared_9': 81}

### Functions, procedures

In [87]:
def func1(x):
    print(x**3)
func1(5)

125

In [88]:
def func2(x,
          y):    
    """
    Return the cube and the 4th power of the two parameters
    """
    return(x**3, y**4)
a = func2(3, 5)

help(func2)

Help on function func2 in module __main__:

func2(x, y)
    Return the cube and the 4th power of the two parameters

In [89]:
#func2() shift-TAB inside the parenthesis
func2?

Signature: func2(x, y)
Docstring: Return the cube and the 4th power of the two parameters
File:      /var/folders/7b/7gktm_g91hn54p3gxj15kb1m0000gn/T/ipykernel_77808/2497636987.py
Type:      function

In [90]:
print(func2(4, 6))

(64, 1296)

In [91]:
def func3(x, y, z, a=0, b=1):
    """
    This function has 5 arguments, 2 of them have default values (then not mandatory)
    """
    return a + b * (x**2 + y**2 + z**2)**0.5
D = func3(3, 4, 5)
print(D)

7.0710678118654755

In [92]:
E = func3(3, 4, 5, 10, 100)
print(E)

717.1067811865476

In [93]:
F = func3(x=3, y=4, z=5, a=10, b=100)
print(F)

717.1067811865476

In [94]:
G = func3(3, 4, 5, a=10, 100) # ERROR!
print(G)

SyntaxError: positional argument follows keyword argument (2124099359.py, line 1)

In [95]:
H = func3(3, 4, 5, a=10, b=100)
print(H)

717.1067811865476

In [96]:
I = func3(z=5, x=3, y=4, a=10, b=100) # quite risky!
print(I)

717.1067811865476

Lambda function is used to creat simple (single line) functions:

In [97]:
J = lambda x, y, z: (x**2 + y**2 + z**2)**0.5
J(1,2,3)

3.7416573867739413

In [98]:
def J(x,y,z):
    return (x**2 + y**2 + z**2)**0.5
J(1,2,3)

3.7416573867739413

In [99]:
print((lambda x,y,z: x+y+z)(0,1,2))

3

#### Variables from outside (from a level above) are known:

In [100]:
a = 5
def test_a(x):
    print(a*x)
test_a(5)
a = 10
test_a(5)
print(a)

25
50
10

In [101]:
# This works even if a2 is not known when defining the function:
def test_a2(x):
    print(a2*x)
a2 = 10
test_a2(5)

50

#### Variables from inside are unknown outside:

### Scripting

In [102]:
%%writefile ex1.py 
# This write the current cell to a file
def f1(x):
    """
    This is an example of a function, returning x**2
    - parameter: x
    """
    return x**2

Writing ex1.py

In [103]:
!cat ex1.py

# This write the current cell to a file
def f1(x):
    """
    This is an example of a function, returning x**2
    - parameter: x
    """
    return x**2

In [104]:
# %load ex1.py
# This write the current cell to a file
def f1(x):
    """
    This is an example of a function, returning x**2
    - parameter: x
    """
    return x**2

In [105]:
# This write the current cell to a file
def f1(x):
    """
    This is an example of a function, returning x**2
    - parameter: x
    """
    return x**2

In [106]:
# This write the current cell to a file
def f1(x):
    """
    This is an example of a function, returning x**2
    - parameter: x
    """
    return x**2

In [107]:
import ex1 #this imports a file named ex1.py from the current directory or 
# from one of the directories in the search path
print(ex1.f1(4))

16

In [108]:
from ex1 import f1
print(f1(3))

9

In [109]:
from ex1 import * # DO NOT DO THIS! Very hard to know where f1 is comming from (debuging, names conflicts)
print(f1(4))

16

In [110]:
import ex1 as tt
print(tt.f1(10))

100

In [110]:
%run ex1 # The same as doing a copy-paste of the content of the file.
f1(8)

64

In [111]:
!pwd

/Users/christophemorisset/Google Drive/Pro/Cloudy_Summer_School/Notebooks

Help with TAB or ?

In [112]:
f1?

Signature: f1(x)
Docstring:
This is an example of a function, returning x**2
- parameter: x
File:      ~/Google Drive/Pro/Cloudy_Summer_School/Notebooks/ex1.py
Type:      function

In [113]:
help(f1)

Help on function f1 in module __main__:

f1(x)
    This is an example of a function, returning x**2
    - parameter: x